@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  aside::-webkit-scrollbar {
    width: 5px; 
  }

  aside::-webkit-scrollbar-track {
    @apply bg-secondary/20
  }

  aside::-webkit-scrollbar-thumb {
    @apply bg-secondary;
    width: 5px; 

  }

  aside::-webkit-scrollbar-button {
    display: none; 
  }
}

